body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

.button-group {
  margin: 0 auto;
  margin-bottom: 20px;
}

.side-navbar img {
  vertical-align: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes caret {
  50% {
    border-right-color: transparent;
  }
}

h2 {
  margin: 0 auto;
  width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.09em solid;
  animation: typing 3s steps(15) infinite, caret 3s steps(15) infinite;
}

.rule {
  margin: 0 auto;
  font-size: 16px;
  width: 350px;
  height: auto;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 53, 53, 0.61);
}

.rule1 {
  height: 81vh;
}

.title {
  font-size: 33px;
  color: rgb(136, 136, 136);
  margin: 30px 0;
}

.title-2 {
  padding: 25px;
  color: #fbae2f;
  font-size: 23px;
}

.text-box {
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
  line-height: 2;
}

.text2,
.text3 {
  padding: 40px;
}

hr {
  height: 5px;
  background-color: #ffffff;
  border: none;
}
h4 {
  color: #fbae2f;
  font-size: 23px;
  text-align: center;
}
h5 {
  color: #fbae2f;
  text-decoration: underline;
}
table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
}
.text th {
  background-color: gray;
}
.text tr {
  border: 1px dashed white;
}

@media screen and (max-width: 500px) {
  .text-center {
    margin-bottom: 200px;
  }

  #return-to-top {
    display: none;
  }
  #return-to-top1 {
    position: fixed;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #return-to-top1 i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #return-to-top1:hover {
    background: rgba(0, 0, 0, 0.9);
  }

  #return-to-top1:hover i {
    color: #fff;
    top: 5px;
  }

  #return-to-top1 {
    margin: 174% 80%;
    z-index: 999;
  }

  .zoom {
    display: none;
  }
  .mask {
    background: url(../img/Wallpaperkiss_1016260.jpg) center center fixed
      no-repeat;
    overflow: hidden;
    background-size: cover;
    z-index: 1;
    height: auto;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .btn {
    /* box-shadow: 5px 10px 20px rgb(44, 44, 44); */
    box-shadow: 10px 10px 5px #5a5a5a;
    margin-bottom: 20px;
    background-color: #dbdbdb6b !important;
    color: #5a5a5a !important;
  }
  .btn.btn-outline-light:hover {
    background-color: #fbae2f !important;
    color: white !important;
  }
}

@media screen and (min-width: 500px) {
  #return-to-top1 {
    display: none;
  }
  #return-to-top {
    position: fixed;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 45% 90%;
    z-index: 1;
  }

  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
  }

  #return-to-top:hover i {
    color: #fff;
    top: 5px;
  }

  .btn {
    font-size: 24px;
    box-shadow: 10px 10px 5px #5a5a5a;
    margin-bottom: 20px;
    background-color: rgba(218, 165, 32, 0.274) !important;
    color: #5a5a5a !important;
    border: #5a5a5a !important;
  }
  .btn.btn-outline-light:hover {
    background-color: #fbae2f !important;
    color: white !important;
  }
  .rule {
    width: 1150px;
  }

  button {
    width: 250px;
    height: 50px;
    margin: 20px;
  }
  .rule1 {
    height: 78.6vh;
    padding: 50px 100px;
  }

  .rule2 {
    padding: 50px 100px;
  }

  .text1 {
    width: 80%;
  }

  section.zoom {
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
    background: url(../img/Wallpaperkiss_1016260.jpg);
    background-size: cover;
    margin-top: -86px;
    z-index: -1;
  }

  section.zoom:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 350px;
    z-index: 1;
    background: linear-gradient(transparent, #fff);
  }

  .layer1 {
    width: 100%;
    bottom: -40%;
    position: absolute;
    left: -18%;
    transition: 3s;
  }

  .layer2 {
    width: 100%;
    position: absolute;
    left: 19%;
    bottom: -40%;
    transition: 3s;
  }

  .word1 {
    font-size: 100px;
  }
  .word2 {
    font-size: 56px;
    color: white !important;
  }

  .subject {
    width: 100%;
    height: 100px;
    position: absolute;
    text-align: center;
    bottom: -10%;
    color: white;
    display: inline-block;
    animation-name: w1;
    opacity: 0;
    animation-duration: 2s;
  }

  @keyframes w1 {
    from {
      transform: scale(0);
      opacity: 0;
    }

    to {
      transform: scale(3);
      opacity: 1;
    }
  }

  .subject2 {
    width: 100%;
    height: 80px;
    position: absolute;
    text-align: center;
    bottom: -10%;
    color: white;
    display: inline-block;
    animation-name: w2;
    opacity: 0;
    animation-duration: 3s;
  }

  @keyframes w2 {
    from {
      transform: scale(0);
      opacity: 0;
    }

    to {
      transform: scale(4);
      opacity: 1;
    }
  }

  .content {
    padding: 100px;
    box-sizing: border-box;
  }

  .blank {
    width: 100%;
    height: 100px;
    background: white;
    background-size: cover;
    background-attachment: fixed;
    background-size: auto;
    margin: auto;
  }
}
